.profileContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    background-color: var(--bg-quaternary);
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.profileContainer.close{
    left: -150%;
}
.profileContainer .section1{
width: 100%;
height: 20%;
background-color: var(--bg-primary);
display: flex;
align-items: flex-end;
justify-content: start;
}
.profileContainer .section1 i{
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
}
.profileContainer .section1 i .icon{
    cursor: pointer;
    width: 30%;
}
.profileContainer .section1 i p{
    font-size: 1.3rem;
    padding-left: 2rem;
    color: #fff;
    width:100%;
}
.profileContainer .section2{
    width: 100%;
    height: 80%;
padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.profileContainer .section2 .profilePic{
    height: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.1rem solid var(--clr-para);
}
.profileContainer .section2 .profileInfo{
    height: 50%;
    margin-top: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}